header nav { /*  the header green */
	background-color: #8DF559;
	padding: 15px;
	padding-top: 50px;
	padding-bottom: 25px;
}

body {
	margin: 0px;
	font-family: 'Lora', serif;
}

nav div { /*  stack the divs in the header */
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
#team, #contact, #about, #pr { /*  menu options black*/
	color: black;
	padding: 3px;
}

nav span {
	float:right;
}

#about:hover, #team:hover, #contact:hover, #pr:hover { /*  menu options when hovering */
	background-color: #B6FF92;
}

@media (max-width: 767px) { /* Phone sizing, everything is different here.*/
	#logo-img {
		background: url('logo-image.png') no-repeat;
		width: 35px;
		height: 26px;
		margin: -25px 10px 22px 10px;
		border: 3px solid #D0D0D0;
		box-shadow: 0 1px 2px 1px #D0D0D0;
	}

	#team, #contact, #about, #pr {
		visibility: hidden;
	}
}


@media (min-width: 768px) { /*  tablet and bigger*/
	nav {
		margin-bottom: -15px;
	}
	#logo-img {
		background: url('logo-image.png') no-repeat;
		width: 70px;
		height: 52px;
		margin: -25px 10px 22px 10px;
		border: 3px solid #D0D0D0;
		box-shadow: 0 1px 2px 1px #D0D0D0;
	}
	#title {
		font-size: 24px;
		margin-top: -15px;
	}

	#pr {
		margin-top: 15px;
		font-size: 15px;
	}
	#team, #contact, #about {
		margin-top: 15px;
		font-size: 15px;
	}
	#kannadaTitle {
		margin-top: -20px;
		margin-left: 10px;
		font-size: 18px;
	}
}

@media (min-width: 992px){  /* laptop display and bigger */
	nav {
		margin-bottom: 0px;
	}
	#pr {
		margin-top: 15px;
		font-size: 16px;
	}
	#logo-img {
		background: url('logo-image.png') no-repeat;
		width: 150px;
		height: 105px;
		margin: -25px 25px 22px 25px;
		border: 3px solid #D0D0D0;
		box-shadow: 0 1px 2px 1px #D0D0D0;
	}

	#title {
		font-size: 24px;
		margin-top: -15px;
	}

	#team, #about, #contact {
		margin-top: 15px;
		font-size: 17px;
	}

	#kannadaTitle {
		margin-top: -20px;
		margin-left: 10px;
		font-size: 18px;
	}
}

@media (min-width: 1145px) { /*  to accomodate the menu options*/
	#pr {
		margin-top: 15px;
		font-size: 17px;
	}
	#title {
		font-size: 27px;
	}
}

@media (min-width: 1290px) { /*  largest sizing - big screen*/
	#pr {
		margin-top: 15px;
		font-size: 18px;
	}

	#title {
		font-size: 30px;
		margin-top: -15px;
	}

	#kannadaTitle {
		margin-top: -10px;
		margin-left: 10px;
		font-size: 24px;
	}

}
